.carousel{width:333px;height:333px;justify-content:center;align-items:center;margin:0 auto;}
.carousel-item{display:block;color:whitesmoke;border-radius:17px;}
.carousel-item.img-main{position:relative;width:100%;height:100%;background-clip:border-box;background-position:center;background-size:cover;}
.carousel-item.carousel-caption h5{font-size:1.7em;font-weight:700;color:whitesmoke;text-align:center;letter-spacing:6px;}
.carousel-item.carousel-caption h6{font-size:1.1em;font-weight:600;color:whitesmoke;text-align:center;letter-spacing:3px;}
