.App {
  position:relative;
	width:100%;
	height:100vh;
	overflow-x: hidden;
	overflow-y: auto;
	scroll-snap-type: y mandatory;
}

.App .sectionFS{
	overflow-x:hidden;overflow-y:hidden;
	position:relative;
	width:100%;
	height:100vh;
	scroll-snap-align:start;
	background-blend-mode:multiply;
}
.App .sectionFS:nth-child(1){
	display: block;
	scroll-snap-align: center;	
	height: 100vh;	
	background:#415 url(img/w1.png);
	background-size:cover;
	background-attachment:fixed;
	background-blend-mode:darken;
}
.App .sectionFS:nth-child(2){
	display: block;
	scroll-snap-align: center;
	height: 100vh;
	background:#daff url(img/w2.png);
	background-size:cover;
	background-attachment:fixed;
	background-blend-mode:color-dodge;
}
.App .sectionFS:nth-child(3){
	display: block;
	scroll-snap-align: center;
	height: 100vh;
	background:#ffad url(img/w1.png);
	background-size:cover;
	background-attachment:fixed;
	background-blend-mode:multiply;
}
.container_pc{position:relative;width:100%;height:100vh;padding:17px 33px;display:grid;grid-template-columns:repeat(2,1fr);grid-template-rows:auto;grid-gap:17px;}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
